{app,[erldis]}.
{erl_opts, [debug_info]}.

{eunit_compile_opts, [{src_dirs, ["test"]}]}.
{cover_enabled, true}.
{clean_files, ["ebin/*.beam", "priv/log/*", "rel/*"]}.
{target, "rel"}.
{deps_dir, ["deps"]}.
{deps, [
 {gen_server2, "1.0.0", {git, "http://github.com/mdaguete/gen_server2.git", "master"}}
]}.
